<div class="format">
  <div class="back">
    <%= link_to image_tag('back.png'), book_schedules_path(@book) %>
  </div>

  <%= form_with(model: @list, url: book_lists_path(@book, @category)) do |l| %>
    <%= render "form", l: l %>

    <div class="form-set">
      <%= l.submit "追加" ,class:"submit-btn" %>
    </div>
  <% end %>
</div>