* {
  box-sizing: border-box;
  font-family: 'cursive';
}

.footer-kotei {
  margin-top: 100px;
}

.footer {
  height: 60px;
  width: 100%;
  background-color: #fff799;
  display: flex;
  flex-direction: column;
  align-items: center;
  position:fixed;
  bottom: 0;
}

.journey-icon-footer {
  width: 130px;
  margin-top: 7px;
}

.footer-message {
  color: #003f8e;
  font-size: 15px;
  font-family: 'Caveat', cursive;
  margin-bottom: 10px;
}