<div class="format">
  <div class="back">
    <%= link_to image_tag('back.png'), book_schedules_path(@book) %>
  </div>

  <%= form_with(model: @schedule, url: book_schedules_path(@book), id:'form_id') do |s| %>
    <%= render "form", s: s %>

    <div class="form-set">
      <%= s.submit "追加" ,class:"submit-btn" %>
    </div>
  <% end %>
</div>