<div class='footer-kotei'>
<footer class='footer'>
  <%= link_to image_tag("journey-logo.png", class:"journey-icon-footer"), "#" %>
  <div class='footer-message'>
    LIFE IS A ©JOURNEY
  </div>
</footer>
</div>
