<div class="book">

  <div class="new-book">
    <% if user_signed_in? %>
      <%= link_to(new_book_path, data: {"turbolinks" => false}) do %>
        <%= image_tag "book.png", class: "new-book-icon" %>
        <span class="new-book-text">New Journey</span>
      <% end %>
    <% end %>
  </div>

  <div class="book-index">
    <% @books.each do |book| %>
      <%= render partial: "books", locals: { book: book } %>
    <% end %>
  </div>
</div>