<div class="book">

  <div class="link-books">
    <% if user_signed_in? %>
      <%= link_to new_book_path do %>
        <%= image_tag "book.png", class: "new-book-icon" %>
        <span class="new-journey">New Journey</span>
      <% end %>
    <% end %>
  </div>

  <div class="book-index">
    <% @books.each do |book| %>
      <%= render "books/book", book: book %>
    <% end %>
  </div>
</div>