/** 全体の設定 **/

* {
  box-sizing: border-box;
  font-family: 'monospace';
}


/** 新規作成部分 **/

.new-journey {
  height: 10vh;
  margin-top: 15vh;
  text-align: center;
}

.new-journey a{
  text-decoration: none;
}

.new-journey-text {
  color: #043c78;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  font-weight: bold;
}

.new-journey-icon {
  width: 40px;
  height: 40px;
}


/** 一覧部分 **/

.book-index {
  display: flex;
  flex-wrap: wrap;
}

.books {
  width: 250px;
  height: 300px;
  position: relative;
  border-radius: 12px;
  margin: 20px;
}

.book-btn {
  width: 100%;
  height: 100%;
}

.book-btn a{
  text-decoration: none;
}

.book-cover {
  width: 250px;
  height: 300px;

}

.book-img {
  width: 250px;
  height: 100%;
  opacity: 50%;
  object-fit: cover;
  border-radius: 12px;
}


/** 中身 **/

.open-icon {
  width: 15px;
  height: 15px;
  margin-top: 4px;
  margin-left: 2px;
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  color: #043c78;
  margin-left: 5px;
}

.book-list {
  position: absolute;
  top: 14px;
}

.book-place,.book-description,.book-start-end {
  font-size: 14px;
  color: #626063;
  line-height: 16px;
}

.book-place {
  margin: 10px 15px 50px;
}

.book-description {
  margin: 5px;
  width: 220px;
}

.book-start-end {
  position: absolute;
  bottom: calc(35vh - 34vh);
  left: 5px;
}


/** 設定部分 **/

.book-setting {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.setting-icon {
  height: 20px;
  width: 20px;
}