/** エラー **/
.error-alert {
  margin: 30px auto;
}

.error-message {
  font-size: 14px;
  font-weight: bold;
  color: #d70035;
  text-align: center;
}

.field_with_errors {
  display: inline-block;
}


/** 全体 **/

.form-set {
  margin: 20px;
  color: #006888;
  text-align: center;
}

.form {
  margin-bottom: 4px;
  font-weight: bold;
  color: #006888;
}

.required {
  font-size: 12px;
  text-align: center;
}

span{
  color: #d70035;
  font-weight: bold;
}

::placeholder{
  color: #bfbec5;
}

input[type="date"]{
  padding: 3px 4px;
}


/** ボタン **/

.publication-btn {
  margin-bottom: 3px;
}

.upload-btn {

}

.submit-btn {
  width: 100px;
  height: 50px;
  border-style: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #e73562;
  background-color: #a1d8e6;
  cursor: pointer;
}

.destroy {
  text-align: right;
  right: 10px;
  bottom: 10px;
}

.destroy-icon {
  height: 30px;
  width: 30px;
}


/** しおり作成 **/

.f-title,.f-description,.f-place {
  border-radius: 10px;
  border: solid 1px #cbd0d3;
  padding: 3px 4px;
}

.f-description {
  width: 250px;
  height: 90px;
}

.f-publication {
  display: flex;
  justify-content: center;
}

.f-close {
  margin-right: 25px;
}


/** スケジュール作成 **/

.f-summary,.f-departure,.f-arrival,
.f-departure2,.f-arrival2,.f-cost,.f-url,.f-url2,.f-memo {
  border-radius: 10px;
  border: solid 1px #cbd0d3;
  padding: 3px 4px;
}

.f-departure_time,.f-arrival_time,
.f-departure_time2,.f-arrival_time2 {
  border-radius: 10px;
  border: solid 1px #cbd0d3;
  color: #bfbec5;
}

.f-d-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}


/** スケジュールアイコン **/

.icon-select {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 3px;
}

.icon-radio-btn {
  display: none;
}

.f-icon {
  width: 30px;
  height: 30px;
}

.f-icon:hover {
  cursor: pointer;
}


/** リスト作成 **/

.f-category,.f-content,.f-quantity,.f-price,.f-list_memo {
  border-radius: 10px;
  border: solid 1px #cbd0d3;
  padding: 3px 4px;
}

.f-quantity {
  width: 45px;
}

.f-price{
  width: 78px;
}