/** 一覧 **/

.book-index {
  display: flex;
  flex-wrap: wrap;
}

.books {
  width: 250px;
  height: 300px;
  position: relative;
  border-radius: 12px;
  margin: auto;
  margin-bottom: 20px;
}

.book-btn {
  width: 100%;
  height: 100%;
}

.book-btn a{
  text-decoration: none;
}

.book-cover {
  width: 250px;
  height: 300px;
}

.book-img {
  width: 250px;
  height: 100%;
  opacity: 50%;
  object-fit: cover;
  border-radius: 12px;
}


/** 中身 **/

.open-icon {
  width: 15px;
  height: 15px;
  margin-top: 4px;
  margin-left: 2px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #202020;
  margin-left: 5px;
}

.book-list {
  position: absolute;
  top: 20px;
}

.place,.description,.start-end {
  font-size: 14px;
  color: #626063;
  line-height: 16px;
}

.place {
  margin: 10px 15px 50px;
}

.description {
  margin: 5px;
  width: 220px;
}

.start-end {
  position: absolute;
  bottom: calc(35vh - 34vh);
  left: 5px;
  font-weight: bold;
}


/** お気に入り **/
#book_like,#book_liked {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

#book_like img,#book_liked img{
  height: 25px;
  width: 25px;
}

#book_like {
  opacity: .4;
}


/** 設定 **/

.setting {
  position: absolute;
  top: 3px;
  right: 4px;
}

.setting-icon {
  height: 20px;
  width: 20px;
}