/** 日付 **/
.date-group {
  display: flex;
  padding: 12px;
  position: sticky;
  top: 60px;
}

.day,.date {
  font-size: 16px;
  font-family: 'Caveat', cursive;
  background-color: #fff3b8;
}

.day {
  color: #192f60;
}

.date {
  color: #e62f8b;
  margin: auto;
}


/** 一覧 **/

.s-index {
  padding: 20px;
}

.s-info {
  margin: 10px 0;
  border: 2px ridge #e6eae6;
  border-radius: 10px;
  padding: 3px 4px;
}

.s-main,.s-location,.d-a {
  display: flex;
  justify-content: start;
  padding: 5px;
}

.s-sub1,.s-sub2 {
  display: block;
}

.s-sub2 {
  text-align: right;
  margin-left: auto;
}

.s-main {
}


/** 中身 **/

.s-icon,.l-icon,.icon {
  width: 30px;
  height: 30px;
}

.d-a_time {
  margin: 0 5px 0 10px;
  width: 40px;
}

.d-a {
  font-size: 14px;
  color: #192f60;
}

.departure_time {
  font-size: 14px;
  font-weight: bold;
  color: #e62f8b;
}

.arrival_time {
  font-size: 12px;
  font-weight: bold;
  color: #e62f8b;
}

.arrival {
  margin-left: 3px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  color: #192f60;
}

.cost {
  font-size: 12px;
  font-weight: bold;
  color: #00608d;
  margin-bottom: 5px;
}

.memo {
  font-size: 12px;
  color: #e62f8b;
  margin-left: 95px;
}

.urls {
}

.url-icon {
  width: 20px;
  height: 20px;
}


/** 画像 **/

.schedule-img {

}

.s-img {
  opacity: 50%;
  object-fit: cover;
  border-radius: 12px;
}