/** 全体の設定はpartsに記載 **/

/** タブ部分 **/

.schedules {
  position: relative;
}

.tab-list {
  position: absolute;
  top: 10%;
  left: 100%;
}

.new-schedules {
  margin-bottom: 10px;
}

.new-list {
  margin: 30px 0 20px 0;
}

.category-index {
  display: inline-block;

}

.new-schedules,.new-list,.category-list {
  padding: 10px;
  border: 3px solid #e6eae6;
  border-radius: 0 10px 10px 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.new-schedules,.new-list {
  white-space: nowrap;
  display: inline-block;
}


/** 画像 **/

.schedule-img-content {

}

.schedule-img {
  opacity: 50%;
  object-fit: cover;
  border-radius: 12px;
}


/** 一覧部分 **/

.schedule-index {
  margin: 10px 30px;
}

.date-group {
  display: flex;
  margin: 2px;
  padding: 16px;
  position: sticky;
  top: 60px;
}

.day,.date {
  font-size: 16px;
  font-family: 'Caveat', cursive;
}

.day {
  color: #192f60;
  background-color: #fff3b8;
}

.date {
  background-color: #fff3b8;
  color: #e62f8b;
  margin: auto;
}

.schedule-list {

}

.schedule-info {
  display: block;
  margin: 10px 0;
  border: 2px #e6eae6;
  border-style: ridge;
  border-radius: 10px;
}

.schedule-main,.schedule-sub,.schedule-sub2,.schedule-sub3 {
  display: flex;
  padding: 4px 10px;
}

.schedule-main {
  height: 35px;
}

.schedule-sub,.schedule-sub2,.schedule-sub3 {
  height: 22px;
}

.schedule-sub3 {
  align-items: center;
}

.schedule-memo {
  font-size: 12px;
  color: #192f60;
  margin-left: 60px;
}

.schedule-url {
  margin-left: auto;
}

.url-icon {
  width: 20px;
  height: 20px;
}


/** 中身 **/

.schedule-icon {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.schedule-icon img {
  width: 30px;
  height: 30px;
}

.schedule-summary {
  font-size: 18px;
  font-weight: bold;
  margin-left: 40px;
  color: #192f60;
  line-height: 30px;
}

.schedule-summary::before {
  height: 1000px;
}

.schedule-cost {
  margin-left: auto;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #00608d;
}


.departure-arrival_time,.departure-arrival {
  display: flex;
  align-items: center;
}

.departure-arrival_time {
  font-size: 12px;
  color: #192f60;
}

.departure-arrival {
  margin-left: 10px;
}

.schedule-departure_time {
  font-size: 14px;
  font-weight: bold;
  color: #e62f8b;
  margin-right: 2px;
}

.schedule-arrival_time {
  margin-left: 2px;
}

.schedule-departure,.schedule-arrival {
  font-size: 12px;
  color: #192f60;
  margin-left: 5px;
}