/** 全体の設定 **/

.schedules {
  box-sizing: border-box;
  width: 550px;
  margin: auto;
  border: 10px #e6eae6;
  border-style: groove;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.book-btn a{
  font-size: 18px;
  font-weight: bold;

  color: #192f60;
  line-height: 30px;
}


/** 新規作成部分 **/

.new-schedules {
  position: sticky;
  top: 40px;
}

.new-schedule-btn {
  position: absolute;
  top: 40px;
  left: calc(100% + 24px);
}


/** リスト部分 **/

.list-tab {
  display: block;
  position: sticky;
  top: 40px;
}

.new-list {
  position: absolute;
  top: 140px;
  left: calc(100% + 24px);
}

.category-index {
  position: absolute;
  top: 200px;
  left: calc(100% + 24px);
}

.category-list,.new-schedule-btn,.new-list {
  white-space: nowrap;
  margin-bottom: 10px;
  padding: 15px 15px 15px 5px;
  border: 2px #7d7d7d;
  border-radius: 0 10px 10px 0;
  background-color: #7d7d7d;
  color: #fff;
  font-weight: bold;
}

.new-schedule-btn,.new-list {
  border-style: double;
}

.new-schedule-btn a,.new-list a{
  color: #fff;
  font-weight: bold;

}

/** 画像 **/

.schedule-img-content {

}

.schedule-img {
  opacity: 50%;
  object-fit: cover;
  border-radius: 12px;
}


/** 一覧部分 **/

.schedule-index {
  margin: 10px 30px;
}

.date-group {
  display: flex;
  margin: 2px;
  padding: 16px;
  position: sticky;
  top: 60px;
}

.day,.date {
  font-size: 16px;
  font-family: 'Caveat', cursive;

}

.day {
  color: #192f60;
  background-color: #fff3b8;
}

.date {
  background-color: #fff3b8;
  color: #e62f8b;
  margin: auto;
}

.schedule-list {

}

.schedule-info {
  display: block;
  margin: 10px 0;
  border: 2px #e6eae6;
  border-style: ridge;
  border-radius: 10px;
}

.schedule-main,.schedule-sub,.schedule-sub2,.schedule-sub3 {
  display: flex;
  padding: 4px 10px;
}

.schedule-main {
  height: 35px;
}

.schedule-sub,.schedule-sub2,.schedule-sub3 {
  height: 22px;
}

.schedule-sub3 {
  align-items: center;
}

.schedule-memo {
  font-size: 12px;
  color: #192f60;
  margin-left: 60px;
}

.schedule-url {
  margin-left: auto;
}

.url-icon {
  width: 20px;
  height: 20px;
}

.departure-arrival_time,.departure-arrival {
  display: flex;
  align-items: center;
}


/** 中身 **/

.schedule-icon {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.schedule-icon img {
  width: 30px;
  height: 30px;
}

.schedule-summary {
  font-size: 18px;
  font-weight: bold;
  margin-left: 40px;
  color: #192f60;
  line-height: 30px;
}

.schedule-summary::before {
  height: 1000px;
}

.schedule-cost {
  margin-left: auto;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #00608d;
}

.schedule-departure_time {
  font-size: 14px;
  font-weight: bold;
  color: #e62f8b;
  margin-right: 2px;
}

.departure-arrival_time {
  display: flex;
  font-size: 12px;
  color: #192f60;
}

.schedule-arrival_time {
  margin-left: 2px;
}

.schedule-departure,.schedule-arrival {
  font-size: 12px;
  color: #192f60;
  margin-left: 5px;
}

.departure-arrival {
  display: flex;
  margin-left: 10px;
}

